<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style>
        html{
            background-color: transparent;
        }
        body{
            background-color: transparent;
            padding: 0;
            margin: 0;
        }
        h2 {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            background: #003366;
        }


    </style>

</head>
<body>
    <h2>欢迎来到刘松涛的银行管理系统</h2>
<!--        <div data-role="navbar" >-->
<!--            <ul style=" background-color: transparent;">-->
<!--                <li><a href="#"  ><img src="../images/branch.png" style="width: 20px" alt="Icon"> <p >支行管理</p></a></li>-->
<!--                <li><a href="#" onclick="weikafa()"><img src="../images/employee.png" style="width: 20px" alt="Icon"> <p>雇员管理</p></a></li>-->
<!--                <li><a href="#"  onclick="weikafa()"><img src="../images/customer.png" style="width: 20px" alt="Icon"> <p>顾客管理</p></a></li>-->
<!--                <li><a href="#" onclick="weikafa()"><img src="../images/deposit.png" style="width: 20px" alt="Icon"> <p>存款管理</p></a></li>-->
<!--                <li><a href="#" onclick="weikafa()"><img src="../images/贷款.png" style="width: 20px" alt="Icon"> <p>贷款管理</p></a></li>-->
<!--            </ul>-->
<!--        </div>-->

    <script>
        function weikafa(){
            alert("未开发,敬请期待!!!!")
        }
    </script>
</body>
</html>
